option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tnbt.settings"
    PYTHONPATH: "/opt/python/current/app/tnbt:$PYTHONPATH"


container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03createsu:
    command: "django-admin.py createsu"
    leader_only: true